/*

SUMÁRIO 

    0. Configurações Gerais
    1. Body
        1.1. Background
    2. Header
        2.1. Menu
    3. Main
        3.1. Carrossel
        3.2. Conteúdo
            3.2.1. Apresentação
            3.2.2. Instruções
            3.2.3. Dispositivos
            3.2.4. Planos
    4. Footer
        4.1. Footer Superior

*/

/* 0. Configurações Gerais */
*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: CircularM;
    src: url(../fonts/CircularStd-Medium.otf) format('opentype');
}
@font-face{
    font-family: CircularB;
    src: url(../fonts/CircularStd-Bold.otf) format('opentype');
}
@font-face{
    font-family: CircularBK;
    src: url(../fonts/CircularStd-Book.otf) format('opentype');
}

:root{
    --main-purple: #7c25f8;
    --bg-purple: #7e23c3;
    --bg-pink: #e64973;
    --menu-hover: #9bf0e1;
    --text-gray: #2e2f33;
    --bg-gray: #232323;
    --ptn-black: #000000;
    --ptn-white: #ffffff;

    --ssf-circular: CircularM,arial,sans-serif;
    --ssf-circular-b : CircularB,arial,sans-serif;
    --ssf-circular-bk : CircularBK,arial,sans-serif;
}
/* ----------------------- */

/* 1. Body */
body{
    overflow-x: hidden;
}
/* 1.1. Background */
.body-parallax{
    min-height: 4700px; 

    background-image: url(../media/capa.png), linear-gradient(to top right, var(--bg-pink), var(--bg-purple));

    background-attachment: fixed;
    background-position: center;
}
/* ------- */

/* 2. Header */
header{
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 10;

    background-color: rgba(0, 0, 0, 0.6);

    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
/* 2.1. Menu */
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 100px;
}
#header-menu-logo-img{
    width: 132px;
    height: 40px;
}
.header-menu-nav-links-list-item{
    display: inline;

    padding: 0px 12.5px;

    font: normal normal 16px var(--ssf-circular);
    color: var(--ptn-white);
}
.header-menu-nav-links-list-item:last-of-type{
    padding-right: 0px;
}
.nav-link-a{
    color: var(--ptn-white);

    text-decoration: none;

    transition: 0.25s;
}
.nav-link-opc{
    color: rgba(255, 255, 255, 0.5);

    text-decoration: none;

    transition: 0.25s;
}
.nav-link-a:hover,.nav-link-opc:hover{
    color: var(--menu-hover);

    transition: 0.25s;
}
/* --------- */

/* 3. Main */
main{
    position: absolute;

    max-width: 100%;

    margin-top: 100px;

    background-color: transparent;
}
/* 3.1. Carrossel */
.main-carousel{
    position: relative;

    width: 100vw;
}
.main-carousel-slide{
    position: relative;
    left: 250px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 500px;
    width: 100%;

    padding-bottom: 50px;

    animation: slide-in 1s forwards;
}
@keyframes slide-in{
    100%{
        left: 0;
    }
}

.main-carousel-slide-title{
    width: 75%;

    margin-bottom: 25px;

    font: normal normal 100px var(--ssf-circular-b);
    color: var(--ptn-white);

    text-align: center;
}
.main-carousel-slide-button-purple{
    padding: 11px 47px 9px;
    margin: 20px 10px 30px;

    background-color: var(--main-purple);

    font: normal normal 18px var(--ssf-circular);
    color: var(--ptn-white);
    text-transform: uppercase;
    letter-spacing: 1.2px;

    outline: 2px solid var(--main-purple);
    border-width: 0px;
    border-radius: 500px;

    transition: 0.3s;
}
.main-carousel-slide-button-purple:hover{
    background-color: var(--bg-purple);

    outline-color: var(--bg-purple);

    cursor: pointer;

    transition: 0.3s;
}
.main-carousel-slide-button-white{
    padding: 11px 47px 9px;
    margin: 20px 10px 30px;

    background-color: transparent;

    font: normal normal 18px var(--ssf-circular);
    color: var(--ptn-white);
    text-transform: uppercase;
    letter-spacing: 1.2px;

    outline: 2px solid var(--ptn-white);
    border-width: 0px;
    border-radius: 500px;

    transition: 0.3s;
}
.main-carousel-slide-button-white:hover{
    background-color: var(--ptn-white);
    color: var(--ptn-black);

    cursor: pointer;

    transition: 0.3s;
}
.main-carousel-slide-arrows{
    height: 100%;
}
.main-carousel-slide-prev, .main-carousel-slide-next{
    position: absolute;
    top: 40%;

    width: auto;

    
    padding: 0px;

    color: var(--ptn-white);

    font: normal normal 58px var(--ssf-circular-b);

    border-radius: 0 3px 3px 0;

    user-select: none;

    cursor: pointer;
}
.main-carousel-slide-next{
    right: 7.5%;

    border-radius: 3px 0 0 3px;
}
.main-carousel-slide-prev{
    left: 7.5%;
}
.main-carousel-slide-dots{
    position: absolute;
    bottom: 2.5%;
    left: calc(50% - 44px);
}
.main-carousel-slide-dot{
    display: inline-block;

    margin: 0 2px;

    height: 15px;
    width: 15px;

    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 50%;

    cursor: pointer;
}
.main-carousel-slide-dot:hover, .main-carousel-slide-dot-act{
    background-color: var(--ptn-white);
}

/* 3.2. Contéudo */
.main-content{
    padding: 100px 0 0 0;
}
/* 3.2.1. Apresentação */
.main-content-section-presentation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 150px 0 180px 0;

    background-color: var(--ptn-white);
}
.main-content-section-presentation-albums{
    display: flex;
    flex-wrap: wrap;

    width: 40%;
}
.main-content-section-presentation-albums-frame{
    position: relative;

    height: 250px;
    width: 250px;
}
.frame-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;

    filter: invert(1);
}
#frame-one{
    background-image: url(../media/img1.jpg);
    background-color: grey;
    background-size: cover;
}
#frame-two{
    background-image: url(../media/img2.jpg);
    background-color: grey;
    background-size: cover;
}
#frame-three{
    background-image: url(../media/img3.jpg);
    background-color: grey;
    background-size: cover;
}
#frame-four{
    background-image: url(../media/img4.jpg);
    background-color: grey;
    background-size: cover;
}
.main-content-section-presentation-albums-frame:hover{
    background-blend-mode: multiply;

    cursor: pointer;
}
.main-content-section-presentation-albums-frame:hover > .frame-play{
    display: block;
}
.main-content-section-presentation-text{
    width: 37.5%;   
}
.main-content-section-presentation-text-title{
    margin-bottom: 0.75em;

    font: normal normal 50px var(--ssf-circular-b);
    color: var(--main-purple);

    letter-spacing: -0.04em;
}
.main-content-section-presentation-text-subtitle{
    margin-top: 24px;
    margin-bottom: 12px;

    font: normal normal 40px var(--ssf-circular-b);
    color: var(--main-purple);
}
.main-content-section-presentation-text-paragraph{
    margin-bottom: 1.5em;

    font: normal normal 18px var(--ssf-circular-bk);
    color: var(--text-gray)
}

/* 3.2.2. Instruções */
.main-content-section-instruction{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 550px;

    column-gap: 20px;

    padding: 150px 0 180px 240px;
}
.main-content-section-instruction-text{
    position: absolute;
    left: 7.5%;

    width: 25%;

    flex: 1 0;
}
.main-content-section-instruction-text-title{
    margin-bottom: 0.75em;

    font: normal normal 50px var(--ssf-circular-b);
    color: var(--ptn-white);

    letter-spacing: -0.04em;
}
.main-content-section-instruction-text-subtitle{
    margin-top: 24px;
    margin-bottom: 12px;

    font: normal normal 40px var(--ssf-circular-b);
    color: var(--menu-hover);
}
.main-content-section-instruction-text-paragraph{
    margin-bottom: 1.5em;

    font: normal normal 18px var(--ssf-circular-bk);
    color: var(--ptn-white)
}
.main-content-section-instruction-phones-wrap{
    flex: 1 0;

    padding-left: 450px;
    padding-top: 300px;
}
.main-content-section-instruction-phones{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;

    rotate: 30deg;
}
.main-content-section-instruction-phones-image{
    padding: 20px;
}
.middle-height{
    margin-top: 55%;
}
.middle-item{
    margin-top: -55%;
}

/* 3.2.3. Dispositivos */
.main-content-section-devices{
    position: relative;

    display: flex;
    gap: 82px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 150px 15px 180px 15px;

    background-color: var(--bg-gray);
}
.main-content-section-devices-title{
    font: normal normal 50px var(--ssf-circular-b);
    color: var(--ptn-white);

    letter-spacing: -0.04em;
}
.main-content-section-devices-list-item{
    display: inline-block;

    padding: 0 5px;

    font: normal normal 16px var(--ssf-circular-b);
    color: var(--ptn-white);

    text-transform: uppercase;
}
.item-divider{
    color: var(--bg-purple);
}
.item-underline{
    text-decoration: underline;
}

/* 3.2.4. Planos */
.section-prices-flex-wrap{
    display: flex;
    gap: 230px;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 150px 0 0 100px;
}
.main-content-section-prices-text-title{
    margin-bottom: 30px;

    font: normal normal 100px var(--ssf-circular-b);
    letter-spacing: -4px;

    color: var(--ptn-white);
}
.main-content-section-prices-text-subtitle{
    margin-bottom: 30px;

    font: normal normal 18px var(--ssf-circular-bk);

    color: var(--ptn-white);
}
.main-content-section-prices-text-option{
    display: inline;

    font: normal normal 40px var(--ssf-circular-b);
    letter-spacing: -1.6px;

    color: var(--menu-hover);
}
.main-content-section-prices-text-value{
    display: inline;

    float: right;

    font: normal normal 40px var(--ssf-circular-b);
    letter-spacing: -1.6px;

    color: var(--ptn-white);
}
.value-month{
    font: normal normal 20px var(--ssf-circular-b);
    letter-spacing: -1.6px;

    color: var(--menu-hover);
}
.main-content-section-prices-text-benefits{
    margin: 15px 0;

    padding: 15px 0;

    border-top: 1px solid var(--ptn-white);
    border-bottom: 1px solid var(--ptn-white);
}
.main-content-section-prices-text-benefits-item{
    padding: 5px 0;

    list-style: none;

    font: normal normal 24px var(--ssf-circular-b);

    color: var(--ptn-white);
}
.main-content-section-prices-text-offers{
    font: normal normal 18px var(--ssf-circular-bk);
    
    color: var(--ptn-white);
}
.offer-option{
    color: var(--menu-hover);
}
.main-content-section-prices-text-button{
    display: block;

    padding: 11px 47px 9px;

    margin: 20px 0;

    background-color: var(--main-purple);

    border: none;
    border-radius: 500px;

    font: normal normal 18px var(--ssf-circular);
    letter-spacing: 1.2px;

    color: var(--ptn-white);

    text-transform: uppercase;

    transition: 0.3s;
}
.main-content-section-prices-text-button:hover{
    background-color: var(--bg-purple);

    cursor: pointer;

    transition: 0.3s;
}
.main-content-section-prices-phone-image{
    width: 120%;
    height: 120%;
}
.main-content-section-prices-tandc{
    margin-top: 40px;

    text-align: center;
}
.main-content-section-prices-tandc-text{
    font: normal normal 12px var(--ssf-circular-bk);
    color: var(--menu-hover);
}
.tandc-white{
    color: var(--ptn-white);
}
/* ------- */

/* 4. Footer */
footer{
    background-color: var(--ptn-black);
}
/* 4.1. Footer Superior */
.footer-superior{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 50px;
}
.footer-superior-nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
}
.footer-superior-nav-logo-image{
    width: 132px;
    height: 40px;
}
.footer-superior-nav-list{
    list-style: none;
}
.footer-superior-nav-list-item{
    margin: 15px 0;

    font: normal normal 16px var(--ssf-circular);

    color: var(--ptn-white);

    transition: 0.3s;
}
.footer-superior-nav-list-item:hover{
    color: var(--menu-hover);

    cursor: pointer;

    transition: 0.3s;
}
.list-title{
    font: normal normal 12px var(--ssf-circular-b);
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #919496;
}
.list-title:hover{
    color: #919496;

    cursor: auto;
}
.footer-superior-social-list-item{
    display: inline;

    cursor: pointer;
}
#mid-item{
    margin: 0 15px;
}

/* --------- */


